#auth_button
{
  float: left;
  background-color: white;
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  margin-left: calc((100% - 175px) / 2);
  color: #FDB813;
  cursor: pointer;
}

.fields
{
    color: white;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;

}

.fields_input[type="text"]
{
    margin-left: calc((100% - 400px)/2);
    margin-bottom: 30px;
    font-size: 26px;
    color: white;
    width: 400px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    text-align: center;
    outline-width: 0;

}

.fields_input[type="password"]
{
    margin-left: calc((100% - 400px)/2);
    margin-bottom: 30px;
    color: white;
    width: 400px;
    font-size: 26px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    text-align: center;
    outline-width: 0;

}

#main_body_auth
{
  width: 500px;
  height: 425px;
  background-color: #FDB813;
  margin-top: 150px;
  float: left;
  border-radius: 15px;
  margin-left: calc((100% - 500px)/2);
}

#sign_up_button
{
  width: 100px;
  background-color: #FDB813;
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  color: white;
  margin-left: calc((100% - 100px - 100px) / 2);
  margin-bottom: 25px;
  float: left;
  margin-top: -25px;
}

#no_account
{
	font-size: 18px;
	text-align: center;
}

#sign_up
{
	text-align: center;
  margin-top: 25px;
}
