.tab_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin-top: 200px;
    overflow: auto; /* Enable scroll if needed */
}

#modal_title
{
  font-size: 36px;
  color: white;
  margin-top: 50px;
  margin-left: 10px;
}

/* Modal Content/Box */
.create_tab_modal_content {
    height: 500px;
    float: left;
    margin-left: calc((100% - 600px) / 2);
    position: fixed;
    display: none;
    padding: 20px;
    width: 600px; /* Could be more or less, depending on screen size */
    z-index: 10;
    border-radius: 5px 5px 5px 5px;
    margin-top: -50px;
    background-color: #1c8adb;
}

.right_th
{
  margin-left: 100px;
  float: right;
}

.info
{
  color: white;
    font-size: 22px;
    font-weight: bolder;
    float: left;
    text-align: left;
}

/* The Close Button */
.close {
  margin-top: 35px;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 0.9;
    text-decoration: none;
    cursor: pointer;
}

th {
  margin-left: 25px;
  float: left;
}


.table_header {
  font-size: 22px;
  font-weight: bolder;
}
