.tab_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin-top: 200px;
    overflow: auto; /* Enable scroll if needed */
}

#modal_title
{
  font-size: 36px;
  color: #1c8adb;
  margin-top: 0px;
  margin-left: 10px;
}

/* Modal Content/Box */
.create_tab_modal_content {
    height: 400px;
    float: left;
    margin-left: calc((100% - 600px) / 2);
    position: fixed;
    display: none;
    background-color: #e5e7ea;
    padding: 20px;
    border: 7px solid #e5e7ea;
    width: 600px; /* Could be more or less, depending on screen size */
    z-index: 10;
    border-radius: 5px;
    margin-top: -50px;
    box-shadow: 2px 2px 2px 2px grey;
}

.right_th
{
  margin-left: 100px;
  float: right;
}

.info
{
    color: #1c8adb;
    font-size: 22px;
    font-weight: bolder;
    float: left;
    text-align: left;
}

/* The Close Button */
.close {
  margin-top: -10px;
  color: #1c8adb;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 0.9;
    text-decoration: none;
    cursor: pointer;
}

th {
  margin-left: 25px;
  float: left;
}


.table_header {
  font-size: 22px;
  font-weight: bolder;
}
