* {
  font-family: 'Quicksand', sans-serif;

}

a
{
  text-decoration: none;
}

.clearfix{
    clear:both;
}

html
{
  overflow-y: scroll;
  overflow-x: hidden;
}

body
{
  margin: 0;
  padding: 0;
  min-width: 1400px;
}

.hover_div
{
    transition: 0.5s;
}

.hover_div:hover
{
    opacity: 0.7;
}

#menu_bar
{
  background-color: #FDB813;
  width: 100%;
  height: 70px;
  position: fixed;
  float: left;
  transition: 0.5s;
  min-width: 1400px;
  z-index: 5;
}

#title_name
{
  font-size: 42px;
  float: left;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
}

.heading
{
  color: white;
  float: right;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 20px;
  list-style-type: none;
}

#header_image
{
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

#main_body
{
  width: 100%;
  height: 475px;
  background-color: #FDB813;
  float: left;
  margin-top: -5px;
}

#main_body_login
{
  float: left;
  background-color: #FDB813;
  margin-top: 75px;
  font-size: 24px;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  margin-left: calc((100% - 180px) / 2);
  color: white;
}

.main_body_images
{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: calc((100% - 600px) / 4);
}

.main_body_text
{
  color: white;
  float: left;
  width: 200px;
  font-size: 24px;
  text-align: center;
  margin-left: calc((100% - 600px) / 4);
}

#footer
{
  margin-top: 75px;
  background-color: #FDB813;
  width: 100%;
  height: 150px;
  float: left;
}

#footer_text
{
    color: white;
    font-size: 20px;
}

.footer_images
{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.footer_images:hover
{
  opacity: 0.7;
}

#side_bar
{
  background-color: #FDB813;
  position: fixed;
  width: 60px;
  height: 300px;
  margin-top: 100px;
  border-radius: 0px 5px 5px 0px;
  float: right;
}

.side_bar_images
{
  width: 45px;
  height: 45px;
  margin-left: 6px;
  margin-top: calc((300px - 135px) / 4);
  float: left;
}

.page_name
{
  color: #FDB813;
  font-size: 48px;
  margin-top: 120px;
  margin-left: calc((100% - 1150px) / 2);
  float: left;
}

.dashboard_cards
{
  width: 350px;
  height: 200px;
  background-color: #1c8adb;
  float: left;
  margin-left: calc((100% - 1050px) / 4);
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 5px 5px 5px grey;
  transition: 0.5s;
  cursor: pointer;
}

h2 { 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: block;
    font-size: 27px;
    margin-top: 14px;
    margin-bottom: 0.67em;
    margin-left: 10px;
    margin-right: 10;
    
    font-weight: 550;
    color: #888888;
}

h3{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: block;
    font-size: 25px;
    margin-top: 14px;
    margin-bottom: 0.67em;
    margin-left: 10px;
    margin-right: 10px;
    
    font-weight: 550;
    color: #585858;
}

.faq_cards
{
  width: 350px;
  height: 200px;
  background-color: #FFFFFF;
  float: left;
  margin-left: calc((100% - 1050px) / 4);
  border-radius: 15px;
  margin-top: 50px;
  border-style: solid;
  border-color: #ffc04c #ffc04c;
  box-shadow: 5px 5px 5px #ffdb99;
  transition: 0.5s;
  cursor: pointer;
}

.dashboard_cards:hover
{
  z-index: -1;
  transform: scale(1.1);
}

.service_images
{
  margin-left: 125px;
  margin-top: 50px;
  width: 300px;
  height: 175px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  transition: 0.5s;
  cursor: pointer;
}

.service_images:hover
{
  transform: scale(1.1);
  z-index: -1;
}



--------------


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */

}

#modal_title
{
  font-size: 36px;
  color: #FDB813;
  margin-top: 0px;
  margin-left: 10px;
}

#modal_users
{
  background-color: grey;
  color: white;
  font-size: 16px;
  float: left;
  width: 430px;
  height: 40px;
  margin-left: 30px;
  margin-top: 75px;
  position: fixed;
  border: none;
  padding: 0px 0px 0px 10px;
}

/* Modal Content/Box */
.modal-content {
    height: 300px;
    float: left;
    margin-left: calc((100% - 500px) / 2);
    position: fixed;
    display: none;
    background-color: #fefefe;
    padding: 20px;
    border: 7px solid #FDB813;
    width: 500px; /* Could be more or less, depending on screen size */
    z-index: 10;
    border-radius: 5px;
    overflow-y: scroll;
    margin-top: -50px;
    box-shadow: 2px 2px 2px 2px grey;
}

#create_modal
{
    background-color: grey;
    float: left;
    width: 340px;
    height: 40px;
    display: none;
    position: fixed;
    margin-top: 150px;
    margin-left: 80px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

/* The Close Button */
.close {
  margin-top: -10px;
  color: #FDB813;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 0.9;
    text-decoration: none;
    cursor: pointer;
}

-----

.dropbtn {
  width: 100%;
  height: 100px;
    display: none;
    background-color: white;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 36px;
    border: none;
    cursor: pointer;
    margin-left: 10%;
    float: left;
}

/* The container <div> - needed to position the dropdown content */
#dropdown {
    width: 100%;
    height: 100px;
    position: relative;
    display: inline-block;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 80%;
    margin-left: 10%;
}

/* Links inside the dropdown */
.dropdown-content .dropdown_div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content .dropdown_div:hover {background-color: #f1f1f1}
/*
/* Show the dropdown menu on hover */
/*
#dropdown:hover .dropdown-content {
    display: block;
}*/

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: grey;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
