* {
  font-family: 'Quicksand', sans-serif;

}

a
{
  text-decoration: none;
}

.clearfix{
    clear:both;
}

html
{
  overflow-y: scroll;
  overflow-x: hidden;
}

body
{
  margin: 0;
  padding: 0;
}

#menu_bar
{
  background-color: #FDB813;
  width: 100%;
  height: 70px;
  position: fixed;
  float: left;
  transition: 0.5s;
}

#title_name
{
  font-size: 42px;
  float: left;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
}

.heading
{
  color: white;
  float: right;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 20px;
  list-style-type: none;
}

#header_image
{
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

#main_body
{
  width: 100%;
  height: 475px;
  background-color: #FDB813;
  float: left;
  margin-top: -5px;
}

#main_body_login
{
  float: left;
  background-color: #FDB813;
  margin-top: 75px;
  font-size: 24px;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  margin-left: calc((100% - 180px) / 2);
  color: white;
}

.main_body_images
{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: calc((100% - 600px) / 4);
}

.main_body_text
{
  color: white;
  float: left;
  width: 200px;
  font-size: 24px;
  text-align: center;
  margin-left: calc((100% - 600px) / 4);
}

#footer
{
  margin-top: 75px;
  background-color: #FDB813;
  width: 100%;
  height: 150px;
  float: left;
}

#footer_text
{
    color: white;
    font-size: 20px;
}

.footer_images
{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 25px;
    text-decoration: none;
}

#side_bar
{
  background-color: #FDB813;
  position: fixed;
  width: 60px;
  height: 300px;
  margin-top: 100px;
  border-radius: 0px 5px 5px 0px;
  float: left;
}

.side_bar_images
{
  width: 45px;
  height: 45px;
  margin-left: 6px;
  margin-top: calc((300px - 135px) / 4);
  float: left;
}

#services_name
{
  color: #FDB813;
  font-size: 48px;
  margin-top: 20px;
  margin-left: calc((100% - 1150px) / 2);
  float: left;
}

.service_images
{
  margin-left: 125px;
  margin-top: 50px;
  width: 300px;
  height: 175px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
