#sign_up_button
{
  float: left;
  background-color: white;
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  margin-left: calc((100% - 170px) / 2);
  color: #FDB813;
  cursor:pointer;
}

.fields
{
    color: white;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;

}

.fields_input[type="text"]
{
    margin-left: calc((100% - 400px)/2);
    width: 400px;
    margin-bottom: 30px;
    color: white;
    font-size: 26px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    text-align: center;
    outline-width: 0;

}

.fields_input[type="password"]
{
    margin-left: calc((100% - 400px)/2);
    margin-bottom: 30px;
    width: 400px;
    color: white;
    font-size: 26px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    text-align: center;
    outline-width: 0;

}

#main_body_sign_up
{
  width: 1000px;
  height: 525px;
  background-color: #FDB813;
  margin-top: 150px;
  float: left;
  margin-left: calc((100% - 1000px)/2);
  border-radius: 25px;
}

#log_in_button
{
  float: left;
  background-color: #FDB813;
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  margin-left: calc((100% - 170px) / 2);
  color: white;
  margin-top: -25px;
}

#yes_account
{
	font-size: 18px;
	text-align: center;
  margin-top: 25px;
  color: white;
}

#log_in
{
  float: left;
  width: 100%;
	text-align: center;
  margin-top: 40px;
}
